<div id='map'></div>
<div id='toggles'>
  <h3>Symbolize data by (insert dropdown of fields here).</h3>
  <h3>Also a toggle for qualitative vs. quantitative.</h3>
  <h3>Search for points within X miles of (field for address).</h3>
  <h3>Maybe an option to drop a pin and search within X miles of that, too.</h3>
  <h3>Filter data that's being symbolized.</h3>
  <h3>Fix assumptions about fields and geocode again, join to different geometry, or address failed geocodes.</h3>
  <h3>Go back to main page/upload a different spreadsheet.</h3>
  <h3>Save map to account.</h3>
  <h3>Share map.</h3>
  <h3>Print/save PDF.</h3>
</div>
<div id='legend'>
  <h3>If data is smybolized, add a legend.</h3>
</div>